*{
    font-family:  Roboto;
}
body {
    background: url('D:/Estudios/JaP/Fase 2/GitHub/Individuales/Actividad-3.3-Portfolio/img/bg-image.jpg') rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
}