body{
    background-color: rgb(255, 255, 255);    
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    color: rgb(150, 151, 151);
    text-align:  center;    
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: rgb(150, 151, 151);
    text-align: center;    
}
p.about{    
    font-size: 1.5rem;
    margin-left: 150px;
    margin-right: 150px;   
}
p.column{
    font-size: 1.2rem;
    margin-left: 150px;
    margin-right: 150px;
    column-count: 3;
    text-align: justify;    
}
p#final{
    font-size: 1.5rem;
    margin-left: 150px;
    margin-right: 150px;
    column-count: 2;
    text-align: justify;
}
img#CV{
    width: 1024px;
    margin-left: 150px;
}
img#mysql{
    width: 20%;
    margin-left: 300px;    
}
img#mysql2{
    width: 15%;
    margin-left: 200px; 
}
img.idb{
    margin-left: 50px;
    width: 1200px;
    height: 300px;
}
a{
    box-shadow: 0 2px #999;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    color: rgb(150, 151, 151);
    border: none;     
    font-size: 1.5rem; 
    text-decoration: none;
    margin: 10px;    
    float: left;
    transition: all 0.5s;   
}
.btm span {    
    display: inline-block;    
    transition: 0.5s;
}
.btm:hover span {
    padding-right: 25px;
}